.bg-login {
    min-height: 100vh;
    background-image: url('https://th.bing.com/th/id/R.99c95f62b9139ca108607ecc3aa20f6f?rik=3RYT166vgav%2fGg&pid=ImgRaw&r=0');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.botaoLogin {
    background-color: #3c67e3 !important;
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 3px solid #3c67e3;
    border-radius: 10px;
}

.botaoLogin:hover{
    animation: pulsate 1s;
    color: black;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}


