.bg-c {
    min-height: 100vh;
    background-image: url('blob:https://web.whatsapp.com/686543e2-be50-4a77-9756-df9736961129');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnCancelar {
    margin-right: 20px !important;
}

.botao {
    display: flex;
    align-items: center;
    background-color: #ECEAEA;
}

.text-decoration-none{
    text-decoration: none !important;
}